@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}
body {
    display: flex;
    margin: 0px;
}
.left {
    height: 100vh;
    width: 40vw;
    background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    
}
.right {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    background-color: #F5F5F5;
}
.transparent {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    position: relative;
    top: 200px;
}
.left p {
    font-size: 100px;
    opacity: 1;
    font-family: Norse-Bold, sans-serif;
}
.left img {
    height: 120px;
    width: auto;
    opacity: 1;
}
figure {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 210px;
}
a {
    color: white;
}
.myform {
    display: flex;
    gap: 75px;
}
.group1,.group2{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.right p {
    font-size: 24px;
    font-weight: 700;
}
button {
    background-color: #596D48;
    height: 50px;
    width: 210px;
    color: white;
    margin-top: 24px;
    border-radius: 10px;
    font-weight: bold;
}
label {
    font-size: 12px;
    font-weight: 500;
}
input {
    height: 24px;
    border: 1px solid #E5E7EB;
    width: 250px;
    border-radius: 3px;
    outline: none;
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
legend {
    display: block;
    padding: 0;
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 700;
}
form {
    background-color: white;
    height: 280px;
    display: flex;
    align-items: center;
    margin-left: -50px;
    padding-left: 50px;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
}
input:focus {
    border-color: blue;
    box-shadow: 0 1px 50px 0 #F5F5F5;
}
input:invalid {
    border-color: red;
}